{% extends 'base.html' %}
{% block title %} Digital Corpora: Report {% endblock %}
{% block body %}
<style>
table th, table td  {
padding: 0pt 1pt 0pt 1pt;
color: black;
}
td.bytes {
text-align: right;
padding-right: 4pt;
}

</style>

      <div id='content'>
        <h1>digitalcorpora.org Reports</h1>
        <h2>Available Reports:</h2>
        <ul>
          {% for (ct,r) in reports %}
          <li><a href='?report={{ct}}'>{{r}}</a></li>
          {% endfor %}
        </ul>
        <div id='report'> </div>
      </div>

      <!-- If we have any reports, they would go here -->
      {% if sql is defined %}
      <h2> {{ title }} </h2>
      <p><tt> {{ sql }} </tt></p>
      <table id='report'>
        <colgroup>
          {% for name in column_names %}
          <col class='{{ name }}'> </col>
          {% endfor %}
        </colgroup>
        <thead>
          <tr>
            {% for name in column_names %}
            <th> {{ name }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for val in row %}
            <td class='{{ column_names[loop.index0] }}'> {{ val | safe }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      {% endif %}
{% endblock %}
