{% extends 'base.html' %}
{% block title %} Digital Corpora: {{prefix}} {% endblock %}

{% block body %}

    <div id='s3_browser'>
      <h1>S3 Downloads Browser</h1>
      <h2><!--
        % for path in paths:
        --><a href="{{path[0]}}">{{path[1]}}</a><!--
        % end
        --> sub-dirs:
      </h2>

      <ul>
        % for d in dirs:
        <li class='subdir'><a href='{{d}}'>{{d}}</a></li>
        % end
      </ul>
      <h2><!--
        % for path in paths:
        --><a href="{{path[0]}}">{{path[1]}}</a><!--
        % end
        --> files:
      </h2>
      <table id='files'>
	<thead>
	  <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th><a href='https://digitalcorpora.org/about-digitalcorpora/hashes'>SHA2-256</a></th>
            <th><a href='https://digitalcorpora.org/about-digitalcorpora/hashes'>SHA3-256</a></th>
          </tr>
	</thead>
	<tbody>
          % for f in files:
          <tr>
            <td class='name'><a href='{{f['a']}}'>{{f['basename']}}</a></td>
            <td class='size'>{{f['size']}}</td>
            <td class='mtime'>{{f['LastModified']}}</td>
            <td class='hash'>{{f['sha2_256']}}</td>
            <td class='hash'>{{f['sha3_256']}}</td>
          </tr>
          % end
	</tbody>
	<tfoot>
	</tfoot>
      </table>
    </div> <!-- main -->

{% endblock %}
