<!DOCTYPE html>



<html lang="en">
  <head>
    <title> {% block title %}{% endblock %} </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google"   content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" id="font-awesome-css" href="/static/font-awesome.min.css?ver=4.7.0" type="text/css" media="all">
    <link rel="stylesheet"                       href="/static/search_style.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
    const site  = '{{ site | safe }}';
    </script>

    {% block head %}{% endblock %}
  </head>
  <body class='home page-template-default page page-id-2 logged-in  tagline no-touch page-layout-default resp customize-support'  >
    <header id="masthead" class="site-header sticky-header scale responsive-menu" style="position: relative; left: auto; width: 100%;">
      <div class="container">
        <div class="site-branding-container">
          <div class="site-branding">
            <h1 class="site-title">{{sitename}} Site Search and Analysis Reports</h1>
          </div><!-- .site-branding -->
        </div><!-- .site-branding-container -->
    </header>

    <div id="header">

    </div>


    <section class="content" style="margin-left:30px; margin-right:30px;">
      <header>
        {% block header %}{% endblock %}
      </header>
        {% block content %}{% endblock %}
    </section>

    <div id="footer">
      <a href='/{{site|safe}}/search'>Search</a> | <a href='/{{site|safe}}/reports/'>Reports</a> | <a href='/about'>About</a>
      <div id="copyright"><p>Copyright &copy; 2022 Simson Garfinkel</p></div>
    </div>
  </body>
</html>
